.share-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;

  &.error {
    border-left: 5px solid red;
  }

  &.exito {
    border-left: 5px solid green;
  }

  &.info {
    border-left: 5px solid blue;
  }

  .popup-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .close {
      cursor: pointer;
      font-size: 1.5rem;
      color: white;
      transition: color 0.3s;

      &:hover {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}