<div
  class="register-container d-flex align-items-center justify-content-center min-vh-100 bg-dark text-light"
>
  <div class="card register-card shadow-lg border-0 p-4 w-100" style="max-width: 550px">
    <div class="card-body">
      <h2 class="text-center fw-bold mb-4">Crear Cuenta</h2>
      <p class="text-center text-muted mb-4">
        Regístrate para comprar boletos, disfrutar promociones y gestionar tu perfil.
      </p>
      <!-- Formulario de creación de usuario -->
      <app-create-user></app-create-user>
    </div>
  </div>
</div>
