<form [formGroup]="nuevoRegistroUsuario" (submit)="submit()">
  <div class="row g-3">
    <div class="col-sm-6">
      <label for="firstName" class="form-label">Nombre Completo</label>

      <input
        type="text"
        class="form-control"
        name="nombre"
        id="nombre"
        autocomplete="off"
        placeholder="Tu Nombre"
        formControlName="nombre"
        [class.is-invalid]="
          nuevoRegistroUsuario.controls['nombre'].dirty &&
          nuevoRegistroUsuario.controls['nombre'].invalid
        "
      />

      @if (nuevoRegistroUsuario.controls['nombre'].invalid &&
      nuevoRegistroUsuario.controls['nombre'].touched) {
      <div class="invalid-feedback">
        <div>Ingrese un nombre valido</div>
      </div>
      }
    </div>

    <div class="col-sm-6">
      <label for="email" class="form-label">Correo Electrónico</label>

      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        autocomplete="off"
        placeholder="Tu Correo Electrónico"
        formControlName="email"
        [class.is-invalid]="
          nuevoRegistroUsuario.controls['email'].dirty &&
          nuevoRegistroUsuario.controls['email'].invalid
        "
      />

      @if (nuevoRegistroUsuario.controls['email'].invalid &&
      nuevoRegistroUsuario.controls['email'].touched) {
      <div class="invalid-feedback">
        <div>Ingrese un correo electrónico válido</div>
      </div>
      }
    </div>
    <div class="col-sm-6">
      <label for="usuario" class="form-label">Nombre de Usuario</label>

      <input
        type="text"
        class="form-control"
        name="usuario"
        id="usuario"
        autocomplete="off"
        placeholder="Tu Nombre de Usuario"
        formControlName="usuario"
        [class.is-invalid]="
          nuevoRegistroUsuario.controls['usuario'].dirty &&
          nuevoRegistroUsuario.controls['usuario'].invalid
        "
      />

      @if (nuevoRegistroUsuario.controls['usuario'].invalid &&
      nuevoRegistroUsuario.controls['usuario'].touched) {
      <div class="invalid-feedback">
        <div>Ingrese un nombre de usuario válido (5-20 caracteres)</div>
      </div>
      }
    </div>
    <div class="col-sm-6">
      <label for="password" class="form-label">Contraseña</label>

      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        autocomplete="off"
        placeholder="Tu Contraseña"
        formControlName="password"
        [class.is-invalid]="
          nuevoRegistroUsuario.controls['password'].dirty &&
          nuevoRegistroUsuario.controls['password'].invalid
        "
      />

      @if (nuevoRegistroUsuario.controls['password'].invalid &&
      nuevoRegistroUsuario.controls['password'].touched) {
      <div class="invalid-feedback">
        <div>Ingrese una contraseña válida (8-20 caracteres)</div>
      </div>
      }
    </div>
    <div class="col-sm-6">
      <label for="telefono" class="form-label">Teléfono</label>

      <input
        type="text"
        class="form-control"
        name="telefono"
        id="telefono"
        autocomplete="off"
        placeholder="Tu Número de Teléfono"
        formControlName="telefono"
        [class.is-invalid]="
          nuevoRegistroUsuario.controls['telefono'].dirty &&
          nuevoRegistroUsuario.controls['telefono'].invalid
        "
      />

      @if (nuevoRegistroUsuario.controls['telefono'].invalid &&
      nuevoRegistroUsuario.controls['telefono'].touched) {
      <div class="invalid-feedback">
        <div>Ingrese un número de teléfono válido (10 dígitos)</div>
      </div>
      }
    </div>
  </div>
</form>
